@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h1>Class PRN211_M4_Group6_A3</h1>

<p>
    Trần Minh Đăng - 	HE130893
</p>

<p>
    Mai Dương Tuấn - 	HE140208
</p>

<p>
    Nguyễn Khải Hoàn - 	HE153239
</p>

<p>
    Nguyễn Đức Thịnh - 	HE141433
</p>